.main {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cadastro {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

